<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///com/bodkink/hotel/business.ecore"
            class="com.bodkink.hotel.business.BusinessPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///com/bodkink/hotel/business/model.ecore"
            class="com.bodkink.hotel.business.model.ModelPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http:///com/bodkink/hotel/business/logic.ecore"
            class="com.bodkink.hotel.business.logic.LogicPackage"
            genModel="codeGen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeGen -->
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/Types"
            class="org.eclipse.uml2.types.TypesPackage"
            genModel="codeGen.genmodel"/>
   </extension>

</plugin>
